src/test/resources/http-listener-test/src/main/app/get-sample-details.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:utils="http://www.mulesoft.org/schema/mule/utils" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/utils http://www.mulesoft.org/schema/mule/utils/current/mule-utils.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">

    <http:listener-config name="httpListenerConfig" host="0.0.0.0" port="${sample-api-v1.http.port}"  doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTP_Config"
                         protocol="${sample-api-v1.protocol}"
                         host="${sample-api-v1.host}" port="${sample-api-v1.port}"
                         basePath="${sample-api-v1.basePath}" doc:name="HTTP Request Configuration" />

    <flow name="sample-api-v1-config">
        <http:listener config-ref="httpListenerConfig" path="/v1/test" doc:name="HTTP"/>
        <http:request config-ref="HTTP_Config" path="#['getSchemeDtls']" method="GET" doc:name="GET sample details">
            <http:request-builder>
                <http:header headerName="X-GUID" value="#[sessionVars.transactionID  or  'unknown']"/>
            </http:request-builder>
            <http:success-status-code-validator values="100..599"/>
        </http:request>
        <dw:transform-message doc:name="Transform Response">
            <dw:input-payload  mimeType="application/java"/>
            <dw:set-payload resource="classpath:mappings/transform-response.dwl"/>
        </dw:transform-message>
   </flow>

</mule>
