src/test/resources/mule-sample-api-v1/src/main/app/health.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:core="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:utils="http://www.mulesoft.org/schema/mule/utils"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/utils http://www.mulesoft.org/schema/mule/utils/current/mule-utils.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">

    <flow name="healthFlow">
        <http:listener config-ref="sample-api-v1-httpListenerConfig" path="/health" allowedMethods="GET" doc:name="HTTP"/>
        <utils:pull-http-metadata config-ref="mule-utils" doc:name="Pull HTTP Metadata"/>
        <utils:log-message config-ref="mule-utils" category="health.mule-health-check.health.start" transport="HTTP" logInitialContext="true" doc:name="Log Request"/>
        <message-properties-transformer scope="invocation" doc:name="Message Properties">
            <add-message-property key="hostname" value="#[server.host]"/>
            <add-message-property key="app" value="#[app.name]"/>
            <add-message-property key="dateTime" value="#[server.dateTime.toXMLCalendar().toXMLFormat()]"/>
        </message-properties-transformer>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	hostname: flowVars.hostname,
	app: flowVars.app,
	dateTime: flowVars.dateTime
}]]></dw:set-payload>
        </dw:transform-message>
        <utils:push-http-metadata config-ref="mule-utils" doc:name="Push HTTP Metadata"/>
        <utils:log-message config-ref="mule-utils" category="health.mule-health-check.health.end" doc:name="Log Response"/>
    </flow>
    
    <flow name="endpointConnectivityTestFlow">
        <http:listener config-ref="sample-api-v1-httpListenerConfig" path="/dependencies" allowedMethods="GET" doc:name="HTTP"/>
        <utils:pull-http-metadata config-ref="mule-utils" doc:name="Pull HTTP Metadata"/>
        <utils:log-message config-ref="mule-utils" category="health.service-now.endpoint-health.start" transport="HTTP" logInitialContext="true" doc:name="Log Request"/>
                <message-properties-transformer scope="invocation" doc:name="Message Properties">
            <add-message-property key="hostname" value="#[server.host]"/>
            <add-message-property key="app" value="#[app.name]"/>
            <add-message-property key="dateTime" value="#[server.dateTime.toXMLCalendar().toXMLFormat()]"/>
        </message-properties-transformer>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	hostname: flowVars.hostname,
	app: flowVars.app,
	dateTime: flowVars.dateTime
}]]></dw:set-payload>
        </dw:transform-message>
        <utils:push-http-metadata config-ref="mule-utils" doc:name="Push HTTP Metadata"/>
        <utils:log-message config-ref="mule-utils" category="health.service-now.endpoint-health.end" doc:name="Log Response"/>

    </flow>
</mule>